@import "~antd/dist/antd.css";
@import "./scss/plyr.scss";
@import "./scss/config.scss";

.drop-zone {
  background: $white;
  text-align: center;
  padding: 3rem;
  margin: 1rem;
  cursor: pointer;
}
